body {
  margin: 0;
  color: black;
}

header {
  background: url("Free-Ocean-Wallpaper-6.jpg");
  height: 523px;
  background-color: #2E86C1;
  opacity: 0.6;
}

.icon-wave {
  background: url("logo.png");
  float: left;
}

.search {
  background: url("search.png");
}
h3{
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
}
h1 {
  max-width: 1024px;
  padding: 100px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: white;
  font-size: 85px;
  margin: 0;
}
h4 {
  position: relative;
  float: right;
  margin: 0;
  font-family: 'Open sans', sans-serif;
}
ul#otis {
 list-style-type: none;
 }


li {
  float: right;
  margin: 10px;
  padding: 10px;
  font-family: 'Oswald', san-serif;
}
